.features {
  display: flex;
  align-items: center;
  padding: 2.5rem 0;
  width: 100%;
  background-color: var(--mojo-bg);
}

.featureSvg {
  height: 96px;
  width: 96px;
  margin-bottom: 0.75rem;
}
